.panel {
	position: relative;
	height: 100%;
}

.stack {
	width: 100%;
	flex: 1;
	overflow: hidden;
	transition: height 0.56s ease;
	height: 100%;
}
.stack_views {
	display: flex;
	transition: all 0.56s ease;
	height: 100%;
}
.active {
}
.inactive {
	position: relative;
	overflow: hidden;
}
.inactive:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
}
.view {
	height: 100%;
}
